.quotes-blog {
    .blog-reader {
        p {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .post-info {
        .post-excerpt {
            font-weight: 600;
            font-size: 17px;
        }
    }
}
