.blog-page {
    @media (max-width: 1280px) {
        padding-inline: 1rem;
    }

    @media (min-width: 1280px) {
        padding-inline: 7rem;
    }

    @media (min-width: 1536px) {
        padding-inline: 15rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .blog-page-controls {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .tag-filter-header {
            margin: 0;
        }

        .tag-filter {
            width: 100%;
            display: flex;
            gap: 8px;
            flex-wrap: wrap;

            .clear-filter-button {
                display: flex;
                align-items: center;

                svg {
                    height: 20px;
                    width: 20px;
                }
            }

            .selectable-tag {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2px 9px;
                border-radius: 20px;

                background-color: #213547;
                border: 1px solid #213547;
                color: white;

                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;

                cursor: pointer;

                &:hover {
                    background-color: rgba(33, 53, 71, 0.6);
                }
            }

            .active-tag {
                background-color: white;
                color: black;

                &:hover {
                    background-color: none;
                }
            }
        }

        .sort-dropdown {
            display: flex;
            width: 100%;
        }
    }
}
