.blog-reader {
    padding: 1rem 15rem;
    row-gap: 40px;

    h1 {
        margin: 0;
    }

    > div {
        padding-bottom: 1rem;
    }

    p {
        display: grid;
    }

    img {
        justify-self: center;
        max-height: 50vh;
        max-width: 100%;
    }

    pre {
        background: #f4f4f4;
        border: 1px solid #ddd;
        border-left: 3px solid #f36d33;
        color: #666;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
    }
}

.blog-reader-controls {
    display: flex;
    justify-content: end;
}

.blog-reader-controls > * {
    margin-inline: 0.5rem;
}

.tag-row {
    display: flex;
    gap: 6px;
}

.date {
    font-size: 18px;
    font-weight: 700;
}

.sub-header {
    display: flex;
    justify-content: space-between;
}
