.blog-page {
    @media (max-width: 1280px) {
        padding-inline: 1rem;
    }

    @media (min-width: 1280px) {
        padding-inline: 7rem;
    }

    @media (min-width: 1536px) {
        padding-inline: 15rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .blog-page-controls {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .tag-filter-header {
            margin: 0;
        }

        .filter-row {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .tag-filter {
                display: flex;
                gap: 8px;
                flex-wrap: wrap;

                .active-tag {
                    color: white;
                    background-color: #213547;

                    &:hover {
                        background-color: rgba(33, 53, 71, 0.3);
                    }
                }
            }

            .selectable-tag {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2px 9px;
                border-radius: 20px;

                border: 1px solid #213547;

                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;

                cursor: pointer;
                background-color: white;
                color: black;

                &:hover {
                    background-color: rgba(33, 53, 71, 0.7);
                    color: white;
                }
            }
        }

        .clear-filter-button {
            width: max-content;
            display: flex;
            align-items: center;

            svg {
                height: 20px;
                width: 20px;
            }
        }

        .sort-dropdown {
            gap: 1rem;
            display: flex;
            width: 100%;
        }
    }
}
