.share-button-modal {
    width: 500px;
    padding: 2rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        h2 {
            margin: 0;
        }
    }

    .copy-link-row {
        display: flex;
    }

    .copy-message {
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
    }

    .copy-link {
        text-overflow: ellipsis;
    }
}
