:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #efefef;
    color: #213547;
    margin: 0;
    display: flex;
    place-items: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.button {
    background-color: #213547;
    color: white;
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 15px;

    &:hover {
        background-color: lightgray;
        color: #213547;
    }
}

.select-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.text-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-button {
    padding: 12px 20px;
    margin: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-button-content {
    margin-inline: 0.1rem;
}

.input-icon {
    position: absolute;
    padding: 1.2rem 10px;
}

.input-w-icon {
    padding-left: 2.2rem;
}

.icon-button {
    background-color: #213547;
    color: white;
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 7px 11px;

    &:hover {
        background-color: lightgray;
        color: #213547;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
